soapSerwer/src/main/resources/katalog.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ewa.pl/soap-example" targetNamespace="http://ewa.pl/soap-example">
    <xs:element name="getRowCountByProducentName">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nazwa" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="count" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>